# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*.local

# Build artifacts (if any)
dist/
build/

# Jest cache
jest-cache/
coverage/

# WebStorm / IntelliJ
.idea/
*.iml
*.iws
out/

# OS files
.DS_Store
Thumbs.db

# Docker
*.dockerignore
Dockerfile

# Misc
*.bak
*.tmp
